/*-- Sketch BG-Gallery Front Style



-------------------------------------*/



#skebggallery a,#skebggallery img{outline:none;border:none;}



#skebggallery{position: fixed; top: 0; left: 0; bottom: 0; width: 100%; height: 100%; z-index: -1; overflow: hidden;} 



#skebggallery-loader { background: url("../../images/progress.gif") no-repeat scroll 10px 50% #333333; border-radius: 5px 5px 5px 5px; color: #FFFFFF; font-size: 21px; left: 50%; line-height: 21px; margin-left: -70px; margin-top: -20px; opacity: 0.8; padding: 15px 15px 15px 50px; position: fixed; top: 50%; z-index: 0; filter: alpha(opacity = 80);font-family:arial } 



#skebggallery .skebg_bgcolor{position:fixed;width:100%;height:100%;top:0;}



#skebggallery img{position: fixed; top: 0; left: 0;display:none;width:auto; height:auto;outline:none; border:none;-ms-interpolation-mode:bicubic; image-rendering: optimizeQuality; }	



#skebggallery img.fit_always{min-height: 100%;min-width: 1024px;width: 100%;height: auto;}



a.skebg_fromthis img{position:fixed;bottom:10px;right:10px;z-index:999999999;min-height: 32px;min-width: 32px;width: auto;height: auto;}



#skebggallery a.skebg_link{text-decoration:none;}



#skebggallery .skebg_overlay{background:url('../images/overlay.png');opacity:0.5;position:fixed;width:100%;height:100%;top:0; filter: alpha(opacity = 50);}



#skebg_bottom  .skebg_controls{}



#skebg_bottom  .skebg_controls a.skebg_playpause,#skebg_bottom   .skebg_showthumbs{ z-index: 1;background: url("../../images/play_pause.png") no-repeat scroll center bottom transparent;display: block;height: 42px;position: absolute;width: 54px;top: 8px;right: 0;outline:none;}



#skebg_bottom  .skebg_controls a.skebg_playpause:hover,#skebg_bottom   .skebg_showthumbs:hover{opacity:0.7;filter: alpha(opacity = 70);}



#skebg_bottom  .skebg_controls a.skebg_playpause.active{background-position:0 0;}



#skebg_bottom  .skebg_thumbnails{left: 0;position: absolute;right: 0;text-align: center;display:none;top:60px;}



#skebg_bottom  .skebg_thumbnails a{outline:none;}



#skebg_bottom  .skebg_thumbnails a.dom_thumb img{outline:none;border: 2px solid #fff;height: 60px;margin: 0 2px;width: 60px; box-shadow: -1px -1px 4px rgba(0, 0, 0, 0.85);}



#skebg_bottom  .skebg_thumbnails a.dom_thumb.circle img{border-radius: 50px 50px 50px 50px;}



#skebg_bottom  .skebg_thumbnails a.dom_thumb.square img{border-radius: 0px;}



#skebg_bottom  .skebg_thumbnails a.dom_thumb img:hover{border: 2px solid #cccccc;}



#skebg_bottom  .skebg_showthumbs{background: url("../../images/thumb_btn.png") no-repeat scroll transparent;left:0;}



.skebg_nav{margin-top: -50px;position: fixed;top: 50%; z-index: 4;} 



.skebg_nav.right{right: 0;}



.skebg_nav.left{left: 0;}



.skebg_nav a.skebg_next,.skebg_nav a.skebg_prev,.skebg_nav a.skebg_showthumbs,.skebg_nav a.skebg_playpause{width:40px;height:44px;opacity:0.8;filter: alpha(opacity = 80);display:block;}



.skebg_nav a.skebg_next:hover,.skebg_nav a.skebg_prev:hover,.skebg_nav a.skebg_showthumbs:hover,.skebg_nav a.skebg_playpause:hover{opacity:0.95;filter: alpha(opacity = 95);}



.skebg_nav a.skebg_next{background: url("../../images/arrow_next.png") no-repeat scroll center center #000;outline:none;}



.skebg_nav a.skebg_prev{background: url("../../images/arrow_prev.png") no-repeat scroll center center #000;outline:none;}



.skebg_botpush{padding-bottom:50px;}



.skebg_nav  .skebg_thumbnails{display: none; left: 0; position: fixed; right: 0; text-align: center; bottom: -50px;}



.skebg_nav .skebg_thumbnails a{outline:none;}



.skebg_nav  .skebg_thumbnails a.dom_thumb img{outline:none;border: 6px solid #fff;height: 70px;margin: 0 3px;width: 70px; box-shadow: -1px -1px 4px rgba(0, 0, 0, 0.85);}



.skebg_nav  .skebg_thumbnails a.dom_thumb.circle img{border-radius: 50px 50px 50px 50px;}



.skebg_nav .skebg_thumbnails a.dom_thumb.square img{border-radius: 0px;}



.skebg_nav  .skebg_thumbnails a.dom_thumb img:hover{border: 6px solid #ddd;}



.skebg_nav  .skebg_controls a.skebg_playpause,.skebg_nav   .skebg_showthumbs{background: url("../../images/play_pause.png") no-repeat scroll center bottom #000;outline:none;}



.skebg_nav  .skebg_controls a.skebg_playpause.active{background-position:center 3px;}



.skebg_nav   .skebg_showthumbs{background: url("../../images/thumb_btn.png") no-repeat scroll center center #000;}







@media only screen and (max-width: 480px) {

.skebg_nav .skebg_thumbnails a.dom_thumb img {width:50px !important; height:50px !important;}

}



