﻿/*
Theme Name: Irex Lite
Theme URI: http://www.sketchthemes.com/themes/irex-full-width-wordpress-theme/
Description: Irex Lite is a responsive business & portfolio theme which offers a powerful Options Set to customize it to your own needs. Irex Lite can be used for personal as well as corporate websites. It is simple and beautiful with numerous theme options like two different layout option(full width and with sidebar), 3 widget areas, custom follow us and contact widget, Logo, logo alt text, custom favicon, social links, rss feed button, custom copyright text and many more. It is compatible with various popular plugins like All in One SEO Pack, WP Super Cache, Contact Form 7 etc. Irex is one click install and translation ready as well.
Author: SketchThemes
Author URI: http://www.sketchthemes.com/
Version: 1.0.13
License: GNU General Public License
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: light, two-columns, custom-menu, sticky-post, translation-ready,  featured-image-header, featured-images, full-width-template, theme-options, threaded-comments, full-width-template

Irex Lite WordPress Theme, Copyright (C) 2013 SketchThemes
Irex Lite WordPress theme is licensed under the GPL.

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.

--------------------------------------------------------------
WARNING: (BEFORE YOU MAKE ANY CHANGES)
--------------------------------------------------------------
Please do not edit style.css or any other Theme files or 
Templates directly. If you do, your customizations will be lost 
as soon as you update Irex Lite.

WordPress and SketchThemes highly recommends Child Theme.

Read More:

- http://codex.wordpress.org/Child_Themes  

--------------------------------------------------------------
*/

/*-- Clear Fix Css
-----------------------------*/
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.clearfix {
	display: inline-block;
}
html .clearfix {
	display: block;
}
* html .clearfix {
	height: 1%;
}
/*---------------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}
th, td {
	border: 1px solid #CCCCCC;
}
body {
	line-height: 1;
}
h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-weight: normal;
}

blockquote {
	background-color: #D1CFCF;
	border-right: 3px solid #A9A9A9;
	font-size: 14px;
	margin-bottom: 12px;
	padding: 8px 8px 8px 20px;
	quotes: none;
}
#content blockquote p {
	margin-bottom:0;
}
blockquote:before, blockquote:after {
/*content: '';
	content: none;*/
}
del {
	text-decoration: line-through;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a img {
	border: none;
}
a, img, a img, input[type="text"], input[type="password"], input, textarea {
	outline:none;
}
embed {
	max-width: 630px;
}
/* =Global Elements
-------------------------------------------------------------- */
hr {
	background-color: #e7e7e7;
	border: 0;
	clear: both;
	height: 1px;
	margin-bottom: 18px;
}
/* Text elements */
p {
	margin-bottom: 18px;
}
ul {
	list-style: square;
	margin: 0 0 18px 1.5em;
}
ol {
	list-style: decimal;
	margin: 0 0 18px 1.5em;
}
ol ol {
	list-style: upper-alpha;
}
ol ol ol {
	list-style: lower-roman;
}
ol ol ol ol {
	list-style: lower-alpha;
}
ul ul, ol ol, ul ol, ol ul {
	margin-bottom: 0;
}
dl {
	margin: 0 0 24px 0;
}
dt {
	font-weight: bold;
}
dd {
	margin-bottom: 18px;
}
strong {
	font-weight: bold;
}
cite, em, i {
	font-style: italic;
}
big {
	font-size: 131.25%;
}
ins {
	background: #ffc;
	text-decoration: none;
}
blockquote cite, blockquote em, blockquote i {
	font-style: normal;
}
pre {
	background: #f7f7f7;
	color: #222;
	line-height: 18px;
	margin-bottom: 18px;
	padding: 1.5em;
}
abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
sup, sub {
	height: 0;
	line-height: 1;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}
input[type="text"], textarea {
	background: #f9f9f9;
	border: 1px solid #ccc;
	padding: 2px;
}
a {
	color:#757575;
	text-decoration: none;
}
a:hover {
	color:#757575;
}
/* Text meant only for screen readers */
.screen-reader-text {
	position: absolute;
	left: -9000px;
}
/* =
-------------------------------------------------------------- */
body {
	color: #757575;
	font-family: 'Junge', serif;
	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
}
pre {
	font-family: "Courier 10 Pitch", Courier, monospace;
	max-width: 100%;
	overflow: auto;
}
code {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}
/* =Common Area width style
-------------------------------------------------------------- */
# .menu-header, div.menu {
 margin: auto;
}
.wrapper {
	background: url("images/body_bg.png") repeat scroll 0 0 transparent;
	margin: 0 auto;
	padding: 0 10px;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}
#no-sidebar #content {
	width: 100%;
}
#no-sidebar #content .post {
	padding: 0 15px 15px;
}
/* = Left-sidebar content style
-------------------------------------------------------------- */
#left-sidebar #sider-bar {
	float: left;
}
#left-sidebar #sider-bar #primary, #left-sidebar #sider-bar #secondary {
	float:left;
}
#left-sidebar #content {
	float: right;
}
#left-sidebar #content .post {
	padding: 0 15px 15px 0px;
}
#sider-bar .recentcomments a {
	display: inline !important;
	margin: 0 !important;
	padding: 0 5px 0 0 !important;
}
/* =Header style
-------------------------------------------------------------- */
#header-area {
}
#header {
	padding: 0 15px 40px 10px;
}
#top-head {
}
#top-head .left-section {
	float: left;
	padding:65px 0 0 0;
}
#top-head .right-section {
	float: right;
	text-align: right;
	padding:20px 0 0 0;
}
#logo {
	font-size: 0;
	text-indent: -9999px;
}
#site-description {
	clear: right;
	float: none;
	font-style: italic;
	font-weight: bold;
	margin: 0 0 18px;
	line-height: 20px;
}
#header #search {
	float:right;
	height:55px;
}
#header #search input[type="text"] {
	-moz-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.1) inset;
	background:none repeat scroll 0 0 #545454;
	border:0 solid #CCCCCC;
	padding:3px;
	color:#D7D7D7;
	float:left;
	margin-right:10px;
	border: 1px solid;
}
#header #search input[type="submit"] {
	background-color: #393939;
	border: 1px solid;
	color: #D7D7D7;
	height: 24px;
	width: 60px;
}
#site-title a {
    display: block;
    line-height: 28px;
    margin-bottom:8px;
}
/* =Menu
-------------------------------------------------------------- */
#skenav {
	border-bottom: 1px solid #B2B4BF;
	border-top: 1px solid #B2B4BF;
	display: block;
	float: right;
	margin: auto;
 *position: relative;
 *z-index: 999999;
}
#skenav .menu-header ul, div.menu ul {
	margin: 0;
}
#skenav .menu-header li, div.menu li {
	float: left;
	position: relative;
	list-style-type: none;
}
#skenav a {
	color: #757575;
	display: block;
	font-size: 18px;
	height: 18px;
	padding: 15px 16px 16px;
	text-decoration: none;
	text-transform: capitalize;
}
#skenav ul ul {
	border-left: 1px solid #DEE0E1;
	border-right: 1px solid #DEE0E1;
	display:none;
	float: left;
	left: 0;
	min-width: 166px;
	width:166px;
	position: absolute;
	top: 49px;
	z-index: 99999;
}
#skenav ul ul li {
	border-bottom: 1px solid #DEE0E1;
	width: 100%;
 *width: 160px;
}
#skenav ul ul li:first-child {
	border-top: 1px solid #DEE0E1;
}
#skenav ul ul ul {
	left: 100%;
	top: 0;
}
#skenav ul ul a {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 0 none;
	height: 100%;
	line-height: 38px;
	padding: 0 10px;
	text-align: left;
	width: auto;
}
#skenav li:hover > a {
	color: #2A2929;
}
#skenav ul ul li:hover > a {
	background: none repeat scroll 0 0 #F0F0F0;
	border: 0 none;
}
#skenav ul li.current_page_item > a, #skenav ul li.current-menu-ancestor > a, #skenav ul li.current-menu-item > a, #skenav ul li.current-menu-parent > a {
	color: #2A2929;
}
* html #skenav ul li.current_page_item a, * html #skenav ul li.current-menu-ancestor a, * html #skenav ul li.current-menu-item a, * html #skenav ul li.current-menu-parent a, * html #skenav ul li a:hover {
	color: #2A2929;
}
/* =#Siderbars
-------------------------------------------------------------- */
#sider-bar {
	float: right;
	padding: 15px 0 0;
}
#sider-bar #search {
	float:none;
}
#primary, #secondary {
	overflow: hidden;
}
#secondary {
	clear: right;
}

#sider-bar .widget-container select {
    max-width: 100%;
}
/* =Content Structure style
-------------------------------------------------------------- */
#container {
}
#container .wrapper {
	padding-bottom: 20px;
}
#content {
	float: left;
	padding: 12px 0 0;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}
#content p {
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}
#content, #content input, #content textarea {
	color: #4D4D4D;
	font-family: 'Oxygen', sans-serif;
	font-size: 12px;
	line-height: 20px;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}
#content p, #content ul, #content ol, #content dd, #content pre, #content hr {
	margin-bottom: 24px;
	line-height: 16px;
}
#content ul ul, #content ol ol, #content ul ol, #content ol ul {
	margin-bottom: 0;
}
#content pre, #content kbd, #content tt, #content var {
	font-size: 15px;
	line-height: 21px;
}
#content code {
	font-size: 13px;
}
#content dt, #content th {
}
#content h1, #content h2, #content h3, #content h4, #content h5, #content h6 {
	color: #94BF0C;
	font-family: 'Junge', serif;
	font-weight: bold;
	line-height: 1.5em;
	margin: 0 0 20px;
}
#content table {
	border: 1px solid #E7E7E7;
	margin: 0;
	text-align: left;
	width: 100%;
}
#content tr th, #content thead th {
	color: #888;
	font-size: 12px;
	font-weight: bold;
	line-height: 18px;
	padding: 9px 24px;
}
#content tr td {
	border: 1px solid #CCCCCC;
	padding: 6px 24px;
}
#content tr.odd td {
	background: none repeat scroll 0 0 #F2F7FC;
}
.post {
	float: left;
	padding: 0 15px;
	text-align: justify;
	width: 95%;
}
body.blog .post, body.single .post {
}
body.blog .post {
}
.entry {
	float:left;
	width:100%;
}
.home .sticky {
	background: #f2f7fc;
	border-top: 4px solid #000;
	margin-left: -20px;
	margin-right: -20px;
	padding: 18px 20px;
}

.archives-title {
	background: none repeat scroll 0 0 transparent;
	color: #94BF0C;
	display: block;
	float: left;
	font-family: 'Junge', serif;
	font-size: 35px;
	font-weight: normal;
	line-height: 45px;
	margin: 5px 0 15px;
	padding: 0 15px;
	text-decoration: none;
	text-transform: capitalize;
	width: 100%;
}
.author-link {
	text-decoration: none;
}
.archives-title span {
	color:#000;
}
#left-sidebar .page-title {
	padding: 0;
}
.page-title {
	background: none repeat scroll 0 0 transparent;
	float: left;
	font-weight: normal;
	line-height: 45px;
	margin: 5px 0 15px;
	padding: 0 15px;
	width: 95%;
}
.page-title span {
	color: #000;
	font-size: 16px;
	font-weight: normal;
	font-weight: bold;
}
.page-title a:link, .page-title a:visited {
	background: none repeat scroll 0 0 transparent;
	color: #94BF0C;
	display: block;
	float: left;
	font-family: 'Junge', serif;
	font-size: 35px;
	padding: 0;
	text-decoration: none;
	text-transform: capitalize;
}
.page-title a:active, .page-title a:hover {
}
#content .entry-title {
}
.entry-title a:link, .entry-title a:visited {
	color: #000000;
	font-size: 20px;
	text-decoration: none;
}
.entry-title a:active, .entry-title a:hover {
}
.entry-meta {
	color: #888;
	font-size: 12px;
}
.entry-meta abbr, .entry-utility abbr {
	border: none;
}
.entry-meta abbr:hover, .entry-utility abbr:hover {
	border-bottom: 1px dotted #666;
}
.entry-content, .entry-summary {
	clear: both;
	padding: 12px 0 0 0;
}
#content .entry-summary p:last-child {
	margin-bottom: 12px;
}
.entry-content fieldset {
	border: 1px solid #e7e7e7;
	margin: 0 0 24px 0;
	padding: 24px;
}
.entry-content fieldset legend {
	background: #fff;
	color: #000;
	font-weight: bold;
	padding: 0 24px;
}
.entry-content input {
	margin: 0 0 24px 0;
}
.entry-content input.file, .entry-content input.button {
	margin-right: 24px;
}
.entry-content label {
	color: #888;
	font-size: 12px;
}
.entry-content select {
	margin: 0 0 24px 0;
}
.entry-content sup, .entry-content sub {
	font-size: 10px;
}
.entry-content blockquote.left {
	float: left;
	margin-left: 0;
	margin-right: 24px;
	text-align: right;
	width: 33%;
}
.entry-content blockquote.right {
	float: right;
	margin-left: 24px;
	margin-right: 0;
	text-align: left;
	width: 33%;
}
.page-link {
	color: #000;
	font-weight: bold;
	margin: 0 0 22px 0;
	word-spacing: 0.5em;
}
.page-link span {
	color:#fff;
}
.page-link a:link, .page-link a:visited {
	background: #f1f1f1;
	color: #333;
	font-weight: normal;
	padding: 0.5em 0.75em;
	text-decoration: none;
}
.home .sticky .page-link a {
	background: #d9e8f7;
}
.page-link a:active, .page-link a:hover {
	color: #ff4b33;
}
body.page .edit-link {
	clear: both;
	display: block;
}
#entry-author-info {
	background: #f2f7fc;
	border-top: 4px solid #000;
	clear: both;
	font-size: 14px;
	line-height: 20px;
	margin: 24px 0;
	overflow: hidden;
	padding: 18px 20px;
}
#entry-author-info #author-avatar {
	background: #fff;
	border: 1px solid #e7e7e7;
	float: left;
	height: 60px;
	margin: 0 -104px 0 0;
	padding: 11px;
}
#entry-author-info #author-description {
	float: left;
	margin: 0 0 0 104px;
}
#entry-author-info h2 {
	color: #000;
	font-size: 100%;
	font-weight: bold;
	margin-bottom: 0;
}
.entry-utility {
	clear: both;
	color: #888;
	font-size: 12px;
	line-height: 18px;
}
.entry-meta a, .entry-utility a {
	color: #111;
}
.entry-meta a:hover, .entry-utility a:hover {
	color: #111;
}
#content .video-player {
	padding: 0;
}
/* =Full Width Gallery Style
-------------------------------------------------------------- */
.page-template-template-fullwidthgallery-php {
	position: relative;
}
.page-template-template-fullwidthgallery-php #header-area {
	background: url("images/body_bg.png") repeat scroll 0 0 transparent;
}
.page-template-template-fullwidthgallery-php .wrapper {
	/*margin-top:0px;
  box-shadow: none;*/
  background: none;
}
.page-template-template-fullwidthgallery-php #header {
	padding:0 15px 0 10px;
}
.page-template-template-fullwidthgallery-php #header .social_media {
	display:none;
}
.page-template-template-fullwidthgallery-php #top-head {
	padding-bottom: 5px;
}
.page-template-template-fullwidthgallery-php #top-head .left-section {
	padding: 15px 0 0;
}
.page-template-template-fullwidthgallery-php #header {
	padding:0px;
}
.page-template-template-fullwidthgallery-php #footer-area {
	background: url("images/body_bg.png") repeat scroll 0 0 transparent;
	bottom: 0;
	position: absolute;
	width: 100%;
}
.page-template-template-fullwidthgallery-php #footer {
	margin: 8px 0;
	padding: 6px;
}
/* =Footer Style
-------------------------------------------------------------- */
#footer-area {
	position: relative;
}
#footer {
	border-bottom: 1px solid #B2B4BF;
	border-top: 1px solid #B2B4BF;
	font-size: 13px;
	padding: 15px;
}
#site-info {
	float: left;
	width: 25%;
}
#site-info span {
    display: block;
    padding-bottom: 5px;
}
#site-info a {
	color: #303136;
	text-decoration:none;
	font-weight:normal;
}
a#back-top {
	background: url("images/top-button.png") no-repeat scroll 0 0 #94BF0C;
	bottom: 15px;
	font-size: 0;
	height: 38px;
	position: fixed;
	right: 15px;
	text-decoration: none;
	text-indent: -9999px;
	width: 38px;
	z-index: 9999;
	-moz-border-radius: 45px;
	-webkit-border-radius: 45px;
	border-radius: 45px;
	behavior: url(/border-radius.htc);
}
a.back-to-top:hover {
}
/*-- Structure the footer navigation
-------------------------------------------------------*/
#foot-nav {
	float:right;
	width:65%;
}
#foot-nav ul {
	float:right;
	margin:0;
}
#foot-nav ul li {
	float: left;
	margin: 0 0 0 20px;
	list-style-type: none;
}
#foot-nav ul li:first-child {
	margin: 0;
}
#foot-nav ul li a {
	color: #6a6a6a;
	display: block;
	float: left;
	line-height: 25px;
	text-decoration: none;
	text-transform: capitalize;
}
#foot-nav ul li a:hover {
	color:#2A2929;
}
#foot-nav ul li.current_page_item > a, #foot-nav ul li.current-menu-ancestor > a, #foot-nav ul li.current-menu-item > a, #foot-nav ul li.current-menu-parent > a {
	color: #2A2929;
}
/* =Asides
-------------------------------------------------------------- */
.home #content .category-asides p {
	font-size: 13px;
	line-height: 20px;
	margin-bottom: 10px;
	margin-top: 0;
}
.home .hentry.category-asides {
	padding: 0;
}
.home #content .category-asides .entry-content {
	padding-top: 0;
}
/* =Gallery listing
-------------------------------------------------------------- */
.category-gallery .size-thumbnail img {
	border: 10px solid #f1f1f1;
	margin-bottom: 0;
}
.category-gallery .gallery-thumb {
	float: left;
	margin-right: 20px;
	margin-top: -4px;
}
.home #content .category-gallery .entry-utility {
	padding-top: 4px;
}
/* =Attachment pages
-------------------------------------------------------------- */
.attachment .entry-content .entry-caption {
	font-size: 140%;
	margin-top: 24px;
}
.attachment .entry-content .nav-previous a:before {
	content: '\2190\00a0';
}
.attachment .entry-content .nav-next a:after {
	content: '\00a0\2192';
}
/* =Images
-------------------------------------------------------------- */
#content img,#sider-bar img {
	margin: 0;
	max-width: 100%;
	height: auto;
}
#content .attachment img {
	max-width: 900px;
}
#content .alignleft, #content img.alignleft {
	display: inline;
	float: left;
	margin-right: 24px;
	margin-top: 4px;
}
#content .alignright, #content img.alignright {
	display: inline;
	float: right;
	margin-left: 24px;
	margin-top: 4px;
}
#content .aligncenter, #content img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#content img.alignleft, #content img.alignright, #content img.aligncenter {
	margin-bottom: 11px;
	margin-top: 11px;
}
#content .wp-caption {
	background: none repeat scroll 0 0 #F1F1F1;
	border-radius: 8px 8px 8px 8px;
	line-height: 18px;
	margin-bottom: 20px;
	max-width: 605px;
	padding: 2px;
	text-align: center;
}
#content .wp-caption img {
	max-width: 592px;
}
#content .wp-caption img {
	margin: 5px 5px 0;
}
#content .wp-caption p.wp-caption-text {
	color: #888;
	font-size: 12px;
	margin: 5px;
}
#content .wp-smiley {
	margin: 0;
}
#content .gallery br {
}
.gallery .gallery-item {
	border: 0 none;
	float: left;
	margin: 0 15px 15px 0;
	width: 190px;
}
#content .gallery .gallery-item .gallery-icon {

}
#content .gallery .gallery-item .gallery-icon a {
	display: block;
	margin: 3px;
}
#content .gallery img {
	border: 2px solid #CFCFCF;
}

#content .gallery .gallery-caption {
	margin: 0 0 12px;
}
#content .gallery dl {
	margin: 0;
}
#content .gallery br+br {
	display: none;
}
#content .attachment img { /* single attachment images should be centered */
	display: block;
	margin: 0 auto;
}
/* =Navigation
-------------------------------------------------------------- */
.navigation {
	color: #000000;
	float: left;
	font-size: 15px;
	line-height: 18px;
	margin: 0;
	overflow: hidden;
	padding: 8px 0;
	width: 100%;
}
.navigation a:link, .navigation a:visited {
	color: #000;
	text-decoration: none;
	margin:0px 10px;
}
.navigation a:active, .navigation a:hover {
	color: #000;
}
.nav-previous {
	float: left;
	text-align: left;
	width: 50%;
}
.nav-next {
	float: right;
	text-align: right;
	width: 50%;
}
/* =Comments
-------------------------------------------------------------- */
#commentform {
	clear: both;
	float: left;
}
#commentform .fieldset {
	float: left;
	width: 100%;
}
#commentform .field {
	float: left;
	margin: 10px 10px 0 0;
}
#commentform .field label, #commentform .field .note {
}
.children #commentform, .children #cancel-comment-reply, .children h3 {
	clear: both;
	float: left;
	margin: 0 0 0 32px !important;
}
#commentform #author, #commentform #email, #commentform #url {
	padding: 5px;
	width: 188px;
}
.children .comment_txt {
	left: 74px;
	top: -18px;
}
.comment_txt {
	left: 30px;
	position: relative;
	width: 92%;
}
.comment_txt p {
}
#commentform #comment {
	border: 1px solid #CCCCCC;
	font-family: arial;
	height: 120px;
	padding: 5px;
	width: 613px;
}
.children #respond #author, .children #respond #email, .children #respond #url {
	width: 158px;
}
.children #respond #comment {
	width: 520px;
}
#commentform #submit {
	background: url("images/contact-submit.png") no-repeat scroll 0 0 transparent;
	border: 0 none;
	cursor: pointer;
	height: 30px;
	font-size: 0;
	margin: 22px 0 0;
	text-indent: -999px;
 *text-indent: 0;
	width: 91px;
}
#comments {
	clear: both;
	margin: 15px 0 0 !important;
}
#comments .navigation {
	padding: 0 0 18px 0;
}
h3#comments-title, h3#reply-title {
	color: #000;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 0;
}
h3#comments-title {
	padding: 24px 0;
}
.commentlist {
	float: left;
	list-style: none outside none;
	padding: 20px 0 0;
	width: 100%;
	margin: 0;
}
.commentlist .alt {
	background-color:#F5F5F5;
	margin-bottom:15px;
	padding-bottom:1px;
}
.commentlist .alt p {
}
.commentlist p {
}
.commentlist blockquote p {
	padding-left:0px;
}
.comment-awaiting-moderation {
	color: #FF4B33;
	float: left;
	left: 32px;
	position: relative;
	width: 80%;
}
.children .comment-awaiting-moderation {
	left:46px;
}
.children p {
	float: left;
	left: 15px;
	width: 78%;
}
.commentlist li.comment {
	background: none repeat scroll 0 0 transparent;
	float: left;
	line-height: normal;
	margin: 0 0 24px;
	position: relative;
	width: 100%;
}
.commentlist li:last-child {
	border-bottom: none;
	margin-bottom: 0;
}
#comments .comment-body ul, #comments .comment-body ol {
	margin-bottom: 18px;
}
#comments .comment-body p:last-child {
	margin-bottom: 6px;
}
#comments .comment-body blockquote p:last-child {
	margin-bottom: 24px;
}
.commentlist ol {
	list-style: decimal;
}
.commentlist .avatar {
	border: 2px solid #EDEDED;
	height: 71px;
	left: 15px;
	position: relative;
	top: -20px;
	width: 71px;
}
.commentlist .children .avatar {
	left: -15px;
	position: relative;
}
.comment-body {
	background: url("images/inner-comment-body.png") repeat-y scroll left top transparent;
	float: left;
	position: relative;
	width: 100%;
}
.page .comment-body {
	background: url("images/inner-comment-body.png") repeat-y scroll left top transparent;
	float: left;
	position: relative;
	width: 96%;
}
#comment-body-top {
	background: url("images/comment-body-1st.png") no-repeat scroll left top transparent;
	float: left;
	height: 34px;
	width: 100%;
}
#comment-body-bottom {
	float: left;
	margin: 0 0 30px;
	width: 100%;
}
.comment-author {
	float: left;
	height: 76px;
	width: 76px;
	z-index: 9999;
}
.children .comment-author {
	float: right;
	left: auto;
	right: 15px;
}
.comment-author cite {
	color: #000000;
	font-style: normal;
	font-weight: bold;
	left: 113px;
	position: absolute;
	text-transform: capitalize;
	top: -29px;
}
.children .comment-author cite {
	left: auto;
	right: 111px;
	text-align: right;
	top: -34px;
}
.comment-author .says {
	display: none;
	font-style: italic;
}
.comment-meta {
	font-size: 12px;
	margin: 0 0 18px 0;
}
.comment-meta a:link, .comment-meta a:visited {
	color: #353535;
	text-decoration: none;
}
.comment-meta a:active, .comment-meta a:hover {
	color: #9C9C9C;
}
.commentlist .even {
}
.commentlist .bypostauthor {
}
.commentlist .byuser {
}
.reply {
	background: url("images/comment-reply.png") no-repeat scroll left center transparent;
	bottom: -34px;
	height: 34px;
	position: absolute;
	width: 100%;
	z-index: 999;
}
.children .reply {
	background: url("images/child-comment-reply.png") no-repeat scroll right center transparent;
}
.reply a, a.comment-edit-link {
}
.reply a {
	float: left;
	color: rgb(255, 255, 255);
	font-size: 15px;
	padding: 11px 0 0 24px;
}
.children .reply a {
	float: right;
	padding: 10px 25px 0 0;
}
.reply a:hover, a.comment-edit-link:hover {
	color: #9C9C9C;
}
.commentlist .children {
	float: left;
	list-style: none outside none;
	margin: 25px 0 0 58px;
	width: 90%;
}
.commentlist .children .children {
	float: right;
	margin: 25px 0 0;
	width: 100%;
}
.commentlist .children .comment-body {
	background: url("images/child-inner-comment-body.png") repeat-y scroll right top transparent;
	float: right;
	width: 100%;
}
.commentlist .children #comment-body-top {
	background: url("images/comment-body-2nd.png") no-repeat scroll right top transparent;
	float: right;
	height: 40px;
	width: 100%;
}
.commentlist .children #comment-body-bottom {
}
.commentlist .children li {
}
.nopassword, .nocomments {
}
#comments .pingback {
	border-bottom: 1px solid #e7e7e7;
	margin-bottom: 18px;
	padding-bottom: 18px;
}
.commentlist li.comment+li.pingback {
	background: none repeat scroll 0 0 transparent;
	float: left;
	margin-top: -6px;
	margin-bottom: 24px;
	width: 100%;
}
.commentlist li.comment+li.trackback {
	background: none repeat scroll 0 0 transparent;
	float: left;
	margin-top: -6px;
	margin-bottom: 24px;
	width: 100%;
}
#comments .pingback p {
	color: #888;
	display: block;
	font-size: 12px;
	line-height: 18px;
	margin: 0;
}
#comments .pingback .url {
	font-size: 13px;
	font-style: italic;
}
#comments-page {
	float: left;
	font-family: 'Oxygen', sans-serif;
	font-size: 12px;
	padding: 0;
	width: 100%;
}
/*-- Comments form
----------------------------------------*/
input[type=submit] {
	color: #333;
}
#content #respond {
	float: left;
	margin: 45px 0 0;
	position: relative;
}
#respond h3 {
	color: #94BF0C;
	float: left;
	font-family: 'Oxygen', sans-serif;
	font-size: 15px;
	font-weight: normal;
	line-height: normal;
	margin-bottom: 10px !important;
}
.comments-template {
	float: left;
	margin: 5px 0 15px 0;
	padding: 0px;
	width: 100%;
}
h3#comments {
	border-bottom: 2px solid #94BF0C;
	float: left;
	font-family: 'Oxygen', sans-serif;
	font-size: 15px;
	font-weight: normal;
	line-height: normal;
	margin: 12px 0 8px;
	padding: 0 0 8px;
	width: 100%;
}
.comments-template .navigation {
	display:none;
}
#comments {
}
.commentmetadata {
	float: right;
	margin: 0;
	position: relative;
	right: 23px;
	top: -30px;
}
.children .commentmetadata {
	float: left;
	left: 45px;
	right: auto;
	top: -35px;
}
.commentmetadata a {
	color:#FFFFFF;
	text-decoration:none;
}
.postmetadata {
	background-color:#373737;
	color:#FFFFFF;
	margin:7px 0;
	padding:2px 10px;
}
.postmetadata a {
	color:#fff;
	text-decoration:none;
}
#respond p {
	clear: both;
	float: left;
	left: 0;
	margin: 0;
	width: 100%;
}
#respond .comment-notes {
	margin-bottom: 1em;
}
.form-allowed-tags {
	line-height: 1em;
}
.children #respond {
	margin: 0;
}
h3#reply-title {
	margin: 18px 0;
}
#comments-list #respond {
	margin: 0 0 18px 0;
}
#comments-list ul #respond {
	margin: 0;
}
.cancel-comment-reply {
	float: left;
}
#cancel-comment-reply-link {
	font-size: 12px;
	font-weight: normal;
	line-height: 18px;
}
#respond .required {
	color: #ff4b33;
	font-weight: bold;
}
#respond label {
	color: #585858;
	font-size: 12px;
}
#respond input {
	margin: 0 0 9px;
	width: auto;
}
#respond #submitbtn {
}
#respond textarea {
	width: 98%;
}
#respond .form-allowed-tags {
	color: #888;
	font-size: 12px;
	line-height: 18px;
}
#respond .form-allowed-tags code {
	font-size: 11px;
}
#respond .form-submit {
	margin: 12px 0;
}
#respond .form-submit input {
	font-size: 14px;
	width: auto;
}
#page-comment-temp {
	float: left;
}
#page-comment-temp #respond {
	float: left;
	margin: 45px 0 0;
	position: relative;
}
/* =Widget Areas
-------------------------------------------------------------- */
.widget-area ul {
	list-style: none;
	margin-left: 0;
	float:left;
	width: 100%;
}
.widget-area ul ul {
	list-style: none outside none;
	margin-left: 0;
	width:100%;
}
.widget-area ul ul li:first-child {
	background: none repeat scroll 0 0 transparent;
}
.widget-area ul ul li {
	background: url("images/widget_title_bg.png") repeat-x scroll center top transparent;
	clear: both;
	float: left;
	padding: 5px;
	width:98%;
}
.widget-area ul ul li a {
	clear: both;
	color: #000000;
	display: block;
	float: left;
	font-size: 13px;
}
.widget_search #s {/* This keeps the search inputs in line */
	width: 60%;
}
.widget_search label {
	display: none;
}
.widget-container {
	background: none repeat scroll 0 0 #F6F6F6;
	border: 1px solid #A2A2A2;
	clear: both;
	color: #676767;
	float: left;
	font-family: 'Oxygen', sans-serif;
	font-size: 13px;
	margin: 0 0 18px;
	padding: 8px 8px 5px;
	width: 93%;
}
.widget_genny_popular_posts .thumbnail img {
	border-bottom: 1px solid #F7EE6F;
	box-shadow: 0 1px 3px #111111;
	float: left;
	height: 80px;
	margin: 4px 8px 4px 0;
	width: 80px;
}
.widget_genny_popular_posts .excerpt {
	font-family: 'Oxygen', sans-serif;
	font-size:13px;
	margin: 5px 0;
}
.widget-title {
	background: url("images/plus-icon.png") no-repeat scroll right 0 transparent;
	color: #000000;
	cursor: pointer;
	font-family: 'Artifika', serif;
	font-size: 13px;
	height: 20px;
	padding: 2px 5px 0;
	text-transform: uppercase;
	width: 245px;
}
.widget-title-active {
	background: url("images/minus-icon.png") no-repeat scroll right 0 transparent !important;
	border-bottom: 1px solid #A2A2A2;
	margin: 0 0 10px;
	padding: 3px 5px 6px;
}
.widget-container .title {
	margin: 0;
	padding: 0;
	width: 100%;
}
.widget-area a:link, .widget-area a:visited {
	text-decoration: none;
}
.widget-area a:active, .widget-area a:hover {
	text-decoration: none;
}
}
.widget-area .entry-meta {
	font-size: 11px;
}
#wp_tag_cloud div {
	line-height: 1.6em;
}
#wp-calendar {
	width: 100%;
}
#wp-calendar caption {
	color: #525252;
	font-size: 14px;
	font-weight:normal;
	padding-bottom: 4px;
	text-align: left;
}
#wp-calendar thead {
	font-size: 11px;
}
#wp-calendar thead th {
	color:#AAAAAA;
	font-weight:normal
}
#wp-calendar tbody {
	color: #aaa;
}
#wp-calendar tbody td {
	background: #f5f5f5;
	border: 1px solid #5F5F5F;
	padding: 3px 0 2px;
	text-align: center;
}
#wp-calendar tbody .pad {
	background: none;
}
#wp-calendar tfoot #next {
	text-align: right;
}
.widget_rss a.rsswidget {
	color: #000;
}
.widget_rss a.rsswidget:hover {
	color: #ff4b33;
}
.widget_rss .widget-title img {
	width: 11px;
	height: 11px;
}
/*******************/
#search {
	float:right;
	height:auto;
}
.error404 #search {
	float:none;
}
#search input[type="text"] {
	-moz-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.1) inset;
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #CCCCCC;
	padding:3px;
	color:#111111;
	float:left;
	margin-right:10px;
}
#search input[type="submit"] {
	background-color: #CCCCCC;
	border: 0 none;
	color: #111111;
	height: 23px;
	width: 60px;
}
/* =Mobile Safari ( iPad, iPhone and iPod Touch )
-------------------------------------------------------------- */
pre {
	-webkit-text-size-adjust: 140%;
}
code {
	-webkit-text-size-adjust: 160%;
}
.entry-meta, .entry-utility {
	color: #B5B5B5;
	float:left;
	font-family: 'Artifika', serif;
	font-size:14.76px;
	padding: 0 0 10px;
	margin-bottom: 15px;
}
.post_data {
	float: left;
	margin: 0 0 12px;
	width: 100%;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}
.post_data span {
}
.post_data span a {
	display:inline-block;
	text-decoration: none;
}
.post_data .blog-entry-title {
	float: left;
	font-family: 'Junge', serif;
	font-size: 20px;
	font-weight: bold;
	line-height: 1.5em;
	margin: 0;
	padding: 0 0 0 25px;
	text-align: left;
	width: 85%;
 *width: 515px;
}
.post-author {
	background: url("images/author.png") no-repeat scroll left center transparent;
	float: left;
	margin-left:25px;
	padding: 0 30px 0 23px;
	text-transform: capitalize;
}
.post-author a {
	text-decoration: none;
}
.post-tags {
	background: url("images/tags.png") no-repeat scroll left top transparent;
	margin: 3px 8px 0 0;
	padding: 0 0 0 18px;
	text-transform: capitalize;
}
.post-tags a {
	text-decoration: none;
}
.post-cat {
	background: url("images/tags.png") no-repeat scroll left top transparent;
	margin: 3px 8px 0 0;
	padding: 0 0 0 18px;
	text-transform: capitalize;
}
.post_data .blog-entry-title a {
	color: #000000;
	text-decoration: none;
	text-transform: uppercase;
	display: block;
}
.cpost .post-date {
	background: none repeat scroll 0 0 transparent;
	color: #4D4D4D;
	height: auto;
}
.post-date {
	color: #FFFFFF;
	float: left;
	height: 63px;
	margin: 0;
	width: 10%;
	background: none repeat scroll 0 0 #D2D2D2;
	-moz-border-radius: 45px;
	-webkit-border-radius: 45px;
	border-radius: 45px;
	behavior: url(/border-radius.htc);
}
.post-date span {
	float:left;
	clear:both;
}
.post-date .date_number {
	background: url("images/date_sep.png") repeat-x scroll center bottom transparent;
	left: 2px;
	font-size: 16px;
	margin: 0 25px 0 0;
	padding: 12px 0 2px;
	position: relative;
	text-align: center;
	width: 95%;
 *width: 58px;
}
.post-date .month {
	font-size: 13px;
	position: relative;
	text-align: center;
	top: 2px;
	width: 100%;
 *width: 60px;
}
.entry-meta .author-image, .entry-meta .comment, .entry-meta .share {
	cursor: pointer;
	float: left;
	margin: 0 18px 0 0;
}
.category {
	margin-right:10px;
}
.edit_link {
	float: left;
	margin-left: 43px
}
.edit_link a {
	font-size: 21px !important;
}
.author-image {
	height: 17px;
	width: auto;
}
.like_img {
	background: url("images/heart.png") no-repeat scroll left center transparent;
	height: 17px;
	padding: 0 0 0 25px;
	width: auto;
	float: left;
}
.entry-meta .comment {
	background: url("images/comment.png") no-repeat scroll left center transparent;
	height: 15px;
	padding: 0 0 0 25px;/*width: 20px;*/
}
.share {
	height: 17px;
	width: auto;
}
.dislike_img {
	background: url("images/brokenheart.png") no-repeat scroll left center transparent;
	height: 17px;
	padding: 0 0 0 25px;
	width: auto;
	float: left;
}
#site-description {
	-webkit-text-size-adjust: none;
}
#container iframe {
	width:100%;
}
/* =Print Style
-------------------------------------------------------------- */
@media print {
body {
	background: none !important;
}
#wrapper {
	clear: both !important;
	display: block !important;
	float: none !important;
	position: relative !important;
}
#header {
	border-bottom: 2pt solid #000;
	padding-bottom: 18pt;
}
#colophon {
	border-top: 2pt solid #000;
}
#site-title,  #site-description {
	float: none;
	line-height: 1.4em;
	margin: 0;
	padding: 0;
}
#site-title {
	font-size: 13pt;
}
.entry-content {
	font-size: 14pt;
	line-height: 1.6em;
}
.entry-title {
	font-size: 21pt;
}
#skenav,  #branding img,  #respond,  .comment-edit-link,  .edit-link,  .navigation,  .page-link,  .widget-area {
	display: none !important;
}
#container,  #header,  #footer {
	margin: 0;
	width: 100%;
}
#content,  .one-column #content {
	margin: 24pt 0 0;
	width: 100%;
}
.wp-caption p {
	font-size: 11pt;
}
#site-info,  #site-generator {
	float: none;
	width: auto;
}
#colophon {
	width: auto;
}
img#wpstats {
	display: none;
}
#site-generator a {
	margin: 0;
	padding: 0;
}
#entry-author-info {
	border: 1px solid #e7e7e7;
}
#main {
	display: inline;
}
.home .sticky {
	border: none;
}
}
/*-- Slider
--------------------------------------------*/
#skt_slider {
}
/*-- Front page
----------------------------------------*/
.welcome_head {
	background: none repeat scroll 0 0 #DEE0E1;
	color: #9B9999;
	font-family: 'Artifika', serif;
	font-size: 38px;
	line-height: 35px;
	margin: 15px 0 0;
 *margin: 55px 0 0;
	padding: 15px 0;
	text-align: center;
}
.frontcont {
    margin: 25px 0 0;
}
.latest_project {
	margin: 25px 0 0;
}
.project_head {
	border-bottom: 1px solid #DEE0E1;
	margin: 0 0 20px;
	padding: 0 0 5px;
}
#front_page_content, .latest_project, .latest_project_box, .feature_image, .title {
	float:left;
}
.home_featured_img {
	margin-bottom: 8px;
	max-width: 100%;
}
.latest_project ul.preview {
	float: left;
	margin: 0;
}
.latest_project ul li:first-child {
	margin: 0 0 0 8px;
	padding: 0;
}
.latest_project_box {
	margin: 0 0 0 10px;
	padding: 0;
 *margin: 0 0 0 10px;
}
.feature_image {
	border: 1px solid #CCCCCC;
	box-shadow: 0 5px 5px -3px #222222;
}
.feature_image img {
	max-width: 100%;
}
.latest_project_box .feature_image > a {
	width: 100%;
}
.feature_image a {
	display: block;
	position: relative;
}
.latest_project_box img {
	height: 133px;
	width: 222px;
}
.feature_image img {
	border: 1px solid #CCCCCC;
}
.title {
	margin-top: 12px;
	padding: 0 2px;
}
.title a {
	font-size: 14px;
	text-decoration: none;
}
.social_media {
	float: right;
	padding: 0 0 3px;
	width: 100%;
}
.social_media ul {
	float: right;
}
.social_media ul li {
	float: left;
	margin: 0 0 0 8px;
	position: relative;
	list-style-type: none;
}
.social_media ul li a {
	display: block;
	height: 28px;
	width: 28px;
}
img.grey {
	left: 0;
	position: absolute;
	top: 0;
	z-index: 10;
}
img.color {
	left: 0;
	position: absolute;
	top: 0;
}
/************Team member*************/
#member_single_content .feature_image {
	margin-right: 10px;
}
/*-- Blog page styling
---------------------------------------------------------*/
a.popular_title {
	color: #000000;
	display: block;
	clear:both;
	float: left;
	font-family: 'Oxygen', sans-serif;
}
.post-excerpt {
	float: left;
	margin: 10px 0 0;
	padding: 0 5px;
	width: 100%;
}
a.read-the-rest {
	color: #333333;
	display: block;
	float: right;
	position: relative;
	top: -4px;
	text-decoration: none;
}
a.read-the-rest:hover {
	color: #333333;
}
.blog-entry-meta {
	padding-left: 8px;
	width: 98%;
}
#twitter_update_list li span {
	clear: both;
	float: left;
	font-family: 'Oxygen', sans-serif;
	font-size: 13px;
	margin: 5px 0;
	width: 245px;
}
div.single_content {
	padding: 15px 0 15px 5px;
	clear: both;
}
.link_page {
	clear: both;
}
.widget_genny_popular_posts ul li:first-child {
	border: 0 none;
}
.popular-date {
	color: #676767;
	clear:both;
	float: left;
	font-family: 'Oxygen', sans-serif;
	font-size: 13px;
	margin: 5px 0;
	width: 245px;
}
/*-- Services Page Styling
----------------------------------------------*/
.services_wrap {
}
.services_wrap .read-the-rest:hover {
 color:
}
.services_wrap ul {
	float: left;
	padding: 0 0 0 12px;
}
.services_wrap ul li {
	text-align: justify;
}
.services_box {
	padding: 0 32px 28px 0;
}
.services_box div {
}
.services_title {
	margin: 0 0 25px;
}
.services_title a {
	color: #94BF0C;
	font-size: 25px;
	text-decoration: none;
}
.services_excerpt {
}
.services_excerpt .alignleft {
}
h2.portfolio_head, h2.member_head {
	font-family: 'Junge', serif;
	color: #94BF0C;
	display: block;
	font-size: 20px;
	margin: 0 0 20px;
	text-decoration: none;
	text-transform: capitalize;
}
/*-- Project Page Styling
-------------------------------------------------*/
.project_wrap {
	float: left;
	width: 100%;
}
.style-filter {
	float: left;
	width: 100%;
}
.portfolio {
	clear:both;
	padding:0;
	margin: 0 !important;
}
.portfolio img {
	border: 1px solid #CCCCCC;
	display: block;
	height: 130px;
	width: 199px;
}
#wrap {
	width:100%;
}
/*-- Page styling
---------------------------------------------------*/
.page_image {
}
.page_text {
}
/*-- About Page Styling
--------------------------------------------------------------*/
#about-bar {
	float: right;
}
#about-bar p {
	float: left;
	margin: 0;
	padding: 5px 0 0 5px;
	text-align: left;
	width: 80%;
}
.about-container {
	color: #4D4D4D;
	font-family: 'Oxygen', sans-serif;
	font-size: 12px;
	line-height: 20px;
}
.about-widget-title, .about-widget-title a {
	color: #94BF0C;
	text-decoration: none;
}
.about-container ul li.cat-post-item {
	background: none repeat scroll 0 0 #E9E9E9;
	cursor: pointer;
	float: left;
	margin: 0 0 5px;
	padding: 8px 5px 8px 10px;
}
.about-container ul li.cat-post-item:hover {
	background: none repeat scroll 0 0 #ccc;
	transition: all 1s ease 0s;
}
.about-container .post-title {
	display:none;
}
span.post_num {
	background: none repeat scroll 0 0 #94BF0C;
	color: #FFFFFF;
	float: left;
	font-size: 24px;
	height: 32px;
	margin: 5px 5px 0 0;
	padding: 12px 0 0;
	text-align: center;
	width: 16%;
	-moz-border-radius: 45px;
	-webkit-border-radius: 45px;
	border-radius: 45px;
	behavior: url(/border-radius.htc);
}
h2.member_head {
	padding:0 15px;
}
.about_feature_image {
	border: 1px solid #CCCCCC;
	float: left;
	margin: 0 25px 0 0;
}
.about_feature_image img {
	border: 1px solid #CCCCCC;
	padding: 5px;
}
/* =Our Team Members
---------------------------------------------*/
.our_team_member {
	color: #4D4D4D;
	float: left;
	font-family: 'Oxygen', sans-serif;
	font-size: 12px;
	margin: 30px 0;
}
ul.hover_block {
	display: block;
	overflow: hidden;
	height: 1%;
	float: left;
	list-style: none outside none;
	padding: 0 0 0 32px;
}
ul.hover_block li {
	border: 1px solid #CCCCCC;
	box-shadow: 0 5px 5px -3px #222222;
	background: none repeat scroll 0 0 #FFFFFF;
	display: block;
	float: left;
	height: 142px;
	margin: 0 20px 22px 0;
	overflow: hidden;
	padding: 5px;
	position: relative;
	width: 200px;
}
ul.hover_block li a {
	color: #333333;
	display: block;
	float: right;
}
ul.hover_block li a {
	text-decoration: none;
}
ul.hover_block li img {
	border: 0 none;
	left: 5px;
	position: absolute;
	top: 5px;
	z-index: 10;
}
.member_details {
	float: left;
	height: 127px;
	padding: 8px;
	text-align: center;
}
.member_details span {
	clear: both;
	font-weight: bold;
}
.member_details p {
	clear: both;
	float: left;
	height: 75px;
	margin: 10px 0;
	overflow: hidden;
}
.member_details a {
	clear: both;
}
/*-- Contact page styling
---------------------------------------------*/
.contact_content {
	float: left;
	margin: 35px 0;
	padding: 0;
}
#support-section {
	float: left;
	width: 100%;
}
.google_map {
	max-width: 930px !important;
	width: 100%;
	overflow: hidden;
	position: relative;
}
.google_map img {
	max-width: 930px !important;
	width: 100%;
}
.contact-container:first-child {
	margin:0;
}
.contact-container {
	float: left;
	margin: 0 0 0 55px;
	width: 183px;
}
#contact-form input[type="submit"] {
	border: 0 none;
	cursor: pointer;
	font-size: 0;
	height: 30px;
	text-indent: -9999px;
	width: 91px;
}
#support-section .contact-widget-title {
	color: #000000;
	display: table-cell;
	font-family: 'Oxygen', sans-serif;
	font-size: 13px;
	height: 36px;
	margin-bottom: 2px;
	vertical-align: middle;
}
.contact-container div.textwidget {
	color: #979797;
	float: left;
}
#contact-form {
	float: left;
	margin: 35px 0 10px;
	width: 100%;
}
#contact-form table {
	color: #979797;
}
#contact-form table tr td {
	padding: 10px 0;
	width: 35%;
}
#contact-form input[type="text"], textarea {
	background: none repeat scroll 0 0 #F8F8F8;
	border: 1px solid #EEEEEE;
	font-size: 15px;
	height: 35px;
	line-height: normal;
	padding: 2px 12px 0;
 *padding: 12px 12px 0;
	width: 255px;
}
#contact-form textarea {
	font-size: 15px;
	height: 150px;
	overflow: auto;
	padding-top: 10px;
	width: 97%;
}
/*-- Custom post type single page styling
---------------------------------------------------------*/
.team_member a {
}
.team_member p {
}
#member_single_content {
	float: left;
	padding: 0 0 15px;
	width: auto;
}
.team_member_post_data {
}
.team_member_post_data .team-member-entry-title {
	font-family: 'Junge', serif;
	font-size: 20px;
	font-weight: bold;
	line-height: 1.5em;
	margin: 0;
	width: 85%;
}
.team_member_post_data .team-member-entry-title a {
	color: #000000;
	text-decoration: none;
	text-transform: uppercase;
}
/*-- Images hover effect
--------------------------------------------------*/
img.hover-effect {
}
div.ppt {
	display: none !important;
}
.project_image {
	border: 1px solid #CCCCCC;
	box-shadow: 0 5px 5px -3px #222222;
	position: relative;
	width:213px;
}
.project_image a {
	position: relative;
}
.project_image img, .feature_image img {
	background: none repeat scroll 0 0 black;
	position: relative;
	text-decoration: none;
	z-index: 2;
}
.project_image span, .feature_image span, .featured_img span, .lightbox span {
	background: url("images/zoom-bg.png") repeat scroll center center transparent;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 10;
	opacity: 0; /* other browsers  and IE9+ */
	filter: alpha(opacity=0); /* IE6+ */
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0); /* IE6+ */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)"; /* this works in IE8 only */
}
.featured_img:hover .fullpostlink {
	opacity: 1 !important;
}
.latest_project_box .feature_image a.fullpostlink {
	background: url("images/post_link.png") no-repeat scroll center center #333333;
	bottom: 4px;
	height: 20px;
	position: absolute !important;
	right: 3px;
	width: 20px;
	border: 0 none !important;
	text-indent: -999px;
	*text-indent: 0;
	font-size: 0;
	z-index: 9999;
	opacity: 0; /* other browsers  and IE9+ */
	filter: alpha(opacity=0); /* IE6+ */
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0); /* IE6+ */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)"; /* this works in IE8 only */
}
.fullpostlink:hover {
	background: url("images/post_link.png") no-repeat scroll center center #232323;
}
.project_title {
	float: left;
	margin: 12px 0 0;
	width: 214px;
}
.project_title a {
	border:none;
	background:none;
	padding-left: 6px;
	text-align: left;
}
/*-- Custom pagination for blog page
----------------------------------------------------------*/
.pagenavi {
	border-bottom: 1px solid #DADADA;
	border-top: 1px solid #DADADA;
	float: left;
	margin: 0 0 20px 18px;
	padding: 15px 1px;
	width: 94%;
}
.pagenavi a, .pagenavi span.current, .pagenavi .single_page, .pagenavi span.pages {
	background: none repeat scroll 0 0 #F5F3F0;
	border-radius: 3px 3px 3px 3px;
	color: #6D5F48;
	display: block;
	float: left;
	font-size: 15px;
	height: 29px;
	line-height: 29px;
	margin: 0px 5px 0 0;
	padding: 0;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	width: 29px;
}
.pagenavi a:hover, span.current:hover {
	background: none repeat scroll 0 0 #656565;
	color: #FFFFFF;
	cursor: pointer;
	text-decoration: none;
}
.pagenavi span.pages {
	padding: 0 10px;
	width: auto;
}
.pagenavi span.current {
	background: none repeat scroll 0 0 #656565;
	text-shadow: 1px 1px 1px #000000;
	color: #FFFFFF;
}
.pagenavi span.expand {
	display:none;
}
.pagenavi .first, .pagenavi .last {
}
.pagenavi .single_page {
}
/*-- Gallery page
----------------------------------------------*/
.attachment-gallery-wrap {
	float: left;
}
.attachment-gallery-wrap li {
	float: left;
	margin: 0 27px 27px 0;
}
.attachment-gallery-wrap li a {
}
.attachment-gallery-wrap .feature_image {
	width: 192px;
}
/*-- Login page
-----------------------------------*/
#login-wrapper {
	position: relative;
}
#login-wrapper .login_title {
	color: #000000;
	font-family: 'Gilda Display', serif;
	font-size: 22px;
	font-weight: bold;
	position: absolute;
	text-align: center;
	top: -38px;
	width: 100%;
}
#login-wrapper .login_form {
	background: url("images/login-box-bg.png") no-repeat scroll 0 0 transparent;
	height: 274px;
	margin: 0 auto 30px;
	position: relative;
	width: 495px;
}
#login-wrapper .reglogin_form {
	background: url("images/reg-box-bg.png") no-repeat scroll 0 0 transparent;
	height: 274px;
	margin: 0 auto 30px;
	position: relative;
	width: 495px;
}
.logged {
	display: block;
	text-align: center;
}
#login-wrapper form {
	height: 100%;
	margin: auto;
	position: relative;
	width: 415px;
}
#login-wrapper .login-username {
	top: 70px;
}
#login-wrapper .login-password {
	bottom: 72px;
}
#login-wrapper .login-submit {
	bottom: -5px;
	text-align: center;
}
#login-wrapper .login-username, #login-wrapper .login-password, #login-wrapper .login-submit {
	height: 31px;
	margin: 0;
	position: absolute;
	width: 95%;
}
#login-wrapper input[type="text"], #login-wrapper input[type="password"] {
	background: none repeat scroll 0 0 transparent;
	border: 0 none;
	color: #484848;
	font-size: 22px;
	height: 31px;
	padding: 0 10px;
	width: 95%;
}
#login-wrapper input[type="password"] {
	bottom: 30px;
	left: 0;
	right: auto;
}
#login-wrapper .login-remember {
	display:none;
}
#login-wrapper label {
	display:none;
}
#login-wrapper input[type="submit"] {
	background: url("images/login-box-button.png") no-repeat scroll 0 0 transparent;
	border: 0 none;
	cursor: pointer;
	font-size: 0;
	height: 47px;
	text-indent: -999px;
	width: 143px;
}
a.back_to_home {
	color: #059385;
	display: none;
	font-family: arial;
	font-size: 18px;
	margin: auto;
	text-align: center;
	text-decoration: none;
	width: auto;
}
/*-- Sitemap
-----------------------------------*/
#site_map {
	float: left;
	padding: 0 15px 15px;
}
#site_map .title {
	clear: both;
	float: left;
	font-size: 18px;
	text-transform: capitalize;
}
#site_map .sitemap-second .title {
	width: 70%;
}
#site_map .sitemap-rows .sitemap-box {
	float: left;
	width: 31%;
}
#site_map .sitemap-rows ul {
	clear: both;
	float: left;
	margin-left: 20px;
	margin-top: 10px;
}
#site_map .sitemap-rows ul li {
	background: url("images/list_bullet.png") no-repeat scroll left top transparent;
	clear: both;
	float: left;
	margin-bottom: 5px;
	padding: 0 0 0 15px;
}
#site_map .sitemap-rows ul li a {
	color: #828080;
	display: block;
	float: left;
	text-decoration: none;
}
#site_map .sitemap-rows ul li a:hover {
	color:#000;
}
#site_map .sitemap-rows {
	float: left;
	margin: 0 0 20px;
	width: 100%;
}
#tiptip_holder {
	font-family: 'Oxygen', sans-serif;
}
/*-- CSS
---------------------------------------*/
.comment_closed {
	float: left;
	font-size: 15px;
	margin-top: 10px !important;
	padding: 0 15px;
}
#content .comment-body table {
	border-bottom: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
	margin: 20px 0 0;
}
#content .comment-body table.statsDay th, #content .comment-body table.statsDay td {
	border-top:1px solid #cccccc;
	border-right:1px solid #cccccc;
}
.comment-body table th {
	background-color:#CCCCCC;
}
.comment-body table tr.alternate {
	background-color:#E5ECF9;
}
#content .comment-body dl, #content .comment-body ol, #content .comment-body ul {
	margin: 0 20px 10px;
}
#content .comment-body ul li {
	list-style-type:disc;
	line-height:20px;
}
#content .comment-body ol li {
	list-style:decimal outside none;
	line-height:20px;
}
#content .comment-body address {
	line-height: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
}
#content .comment-body div strong {
}
#content .comment-body pre {
}
#content .comment-body p {
	margin-right:20px;
	text-align: justify;
}
.commentmetadata p {
	padding: 0 0 0 20px;
}
#respond .leavereply {
	margin-left:0px;
}
//.comment-body .comment-author {
 width:110px;
}
.full_width_post {
	width: 97% !important;
}
/*= mobile menu 
-----------------------------------------*/
#menu-icon {
	display:none;
	width:100px;
	background-color:#999;
	color: #000000;
}
#mini-menu {
	background-color: #CCCCCC;
	display: none;
	position: absolute;
	width: 470px;
	z-index: 99999999;
}
/* mobile menu */
/* #Media Queries
================================================== */
@media handheld, only screen and (min-width: 1024px) {
 #menu-icon {
 display:none;
}
 #mini-menu {
 display:none;
}
}
/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
 #menu-icon {
 display:none;
}
 #mini-menu {
 display:none;
}
}
/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 960px) {
/********front page ***********/
.wrapper {
padding:0px;
}
#header {
padding:0 6px 40px !important;
}
 .latest_project ul li:first-child {
 margin: 0 0 0 7px;
 padding: 0;
}
.latest_project_box {
 margin: 0 0 0 7px;
 padding: 0;
}
.project_image img, .feature_image img {
 width: 165px;
}
.attachment-gallery-wrap li {
 float: left;
 margin: 0 25px 25px 0;
}
.attachment-gallery-wrap .feature_image img {
 width: 184px;
}
.normal-menu {
 width:465px !important;
}
.skenav-mid {
 width:465px !important;
}
.home_featured_img img {
 width: 454px;
}
.project_head {
 padding: 0 0 5px 9px;
}
/***service**********/
.services_wrap ul {
 margin: 0;
}
/********navigation************/
#menu-icon {
 display:none;
}
#mini-menu {
 display:none;
}
#skenav a {
 padding: 15px 9px 16px;
}
#left-sidebar #content .post {
 padding: 0;
}
#left-sidebar #commentform #comment {
 border: 1px solid #CCCCCC;
 font-family: arial;
 height: 120px;
 padding: 5px;
 width: 450px;
}
/*********slidebar***********/
.widget-title {
 width: 189px;
}
.widget-container {
 padding: 8px 3px 5px;
}
.widget-area ul ul {
 width: 95%;
}
.widget-area ul ul li {
 width: 95%;
}
.popular-date {
 width: 100%;
}
#left-sidebar #sider-bar {
 float: left;
 padding-left: 6px;
}
/********blog**********/
.post-date {
 width: 12%;
}
.post {
 float: left;
 padding: 0 8px;
}
#page-comment-temp {
 float: left;
 margin: 0 8px;
}
.post_data .blog-entry-title {
 width: 80%;
}
.camera_wrap .camera_pag .camera_pag_ul {
 list-style: none outside none;
 margin: 0;
 padding: 0 0 0 320px !important;
 text-align: center;
}
#primary, #secondary {
 margin: 0 10px 0 0;
 width: 100%;
 padding: 0;
}
#sider-bar .excerpt, #sider-bar #twitter_update_list li span {
 width: 194px;
}
/********contact**************/
#contact-form input[type="text"], textarea {
 width: 195px;
}
.contact-container {
 margin: 0 0 0 30px;
 width: 153px;
}
/*************** comment ***************/
#commentform #comment {
 width: 300px;
}
.commentlist {
 width: 100%;
}
.children #respond #comment {
 width: 255px;
}
#commentform .field {
 float: none;
}
#comment-body-top {
 background: url("images/comment-body-400.png") no-repeat scroll left top transparent;
 float: left;
 height: 34px;
 width: 400px;
}
.comments-template {
 float: none;
 margin: 5px 0 15px;
 padding: 0;
}
.comment-body {
 background: url("images/inner-comment-body400.png") repeat-y scroll left top transparent;
 float: left;
 position: relative;
 width: 400px;
}
.reply {
 background: url("images/comment-reply400.png") no-repeat scroll left center transparent;
 bottom: -34px;
 height: 34px;
 position: absolute;
 width: 400px;
 z-index: 999;
}
.commentlist .children #comment-body-top {
 background: url("images/comment-body-2nd400.png") no-repeat scroll right top transparent;
 float: right;
 height: 40px;
 width: 400px;
}
.commentlist .avatar {
 border: 2px solid #EDEDED;
 height: 71px;
 left: 7px;
 position: relative;
 top: -5px;
 width: 71px;
}
.comment-author cite {
 color: #000000;
 font-style: normal;
 font-weight: bold;
 left: 73px;
 position: absolute;
 text-transform: capitalize;
 top: -29px;
}
.commentlist .children .avatar {
 left: -11px;
 position: relative;
 top: -8px;
}
.children .comment-author cite {
 left: auto;
 right:84px;
 text-align: right;
 top: -34px;
}
.commentlist .children .comment-body {
 background: url("images/child-inner-comment-body400.png") repeat-y scroll right top transparent;
 float: right;
 width: 400px;
}
.children #commentform, .children #cancel-comment-reply, .children h3 {
 clear: both;
 float: none;
 margin: 0 0 0 0px !important;
}
.children .reply {
 background: url("images/child-comment-reply400.png") no-repeat scroll right center transparent;
}
.reply a {
 color: #FFFFFF;
 float: left;
 font-size: 15px;
 padding: 11px 0 0 13px;
}
.comment-author {
 float: left;
 height: 76px;
 width: 75px;
 z-index: 9999;
}
.commentmetadata {
 float: right;
 margin: 0;
 right:0;
 position: relative;
 top: -30px;
}
.children .commentmetadata {
 left:0;
}
.commentlist .children {
 float: left;
 list-style: none outside none;
 margin: 25px 0 0 5px;
 width: 90%;
}
.comment_txt {
 left: 30px;
 position: relative;
 top: 8px;
 width: 92%;
}
.children .comment_txt {
 left: 18px;
 top: -9px;
}
.children .reply a {
 float: right;
 padding: 10px 16px 0 0;
}
#content tr td {
    padding: 6px 17px;
}
.widget-title-active {padding: 3px 2px 6px;}
.widget-title{padding:2px 2px 0;}
}
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
/*******header*************/
#top-head .left-section {
 float: none;
 padding: 0;
}
.logo {
 margin-top: 30px;
 width: 100%;
}
#top-head .right-section {
 float: right;
 padding: 0;
 text-align: right;
}
.social_media {
 float: none;
 height: 29px;
 margin: 0 auto;
 padding: 10px 0;
 width: 175px;
}
#skenav {
 float: none;
}
#skenav a {
 padding: 15px 11px 16px;
}
#left-sidebar #content .post {
 padding: 0;
}
#left-sidebar #commentform #comment {
 border: 1px solid #CCCCCC;
 font-family: arial;
 height: 120px;
 padding: 5px;
 width: 435px;
}
.camera_wrap .camera_pag .camera_pag_ul {
 list-style: none outside none;
 margin: 0;
 padding: 0 0 0 195px !important;
 text-align: center;
}
	/*= Mobile Navigation Menu
-------------------------------------------*/
#nav {
 background: url("images/mobilemenubg.png") repeat-x scroll 0 0 transparent;
 border: 1px solid #BBBBBB;
 border-radius: 5px 5px 0 0;
 float: none;
 height: 31px;
 margin: 0 auto;
 width: 475px;
}
#skenav {
 display: none;
}
 #menu-icon {
 background-position: 425px 0;
 background-repeat: no-repeat;
 display: block;
 position: relative;
 cursor: pointer;
 padding: 7px 10px;
 font-size: 16px;
 color: #333333;
 text-align: center;
 width: 455px;
}
 #menu-icon.close {
 background: url("images/menu_close.png") no-repeat scroll 445px center transparent;
}
#menu-icon.open {
 background: url("images/menu_open.png") no-repeat scroll 445px 10px transparent;
}
ul#mini-menu {
 background: url("images/navibottomimg4.png") no-repeat scroll center bottom #E2E2E2;
 border-radius: 0 0 5px 5px;
 display: none;
 left: -1px;
 margin: 0;
 padding-bottom: 19px;
 position: absolute;
 top: 31px;
 width: 477px;
}
#mini-menu ul {
 list-style:none;
 margin:0;
}
ul#mini-menu li {
 border-bottom: 1px solid #F3F3F3;
 border-top: 1px solid #7D7D7D;
 margin-left: 0;
 text-align: center;
 list-style-type: none;
}
ul#mini-menu li ul li {
 border:none;
}
#mini-menu li:first-child {
 border-top: none;
}
#mini-menu li:last-child {
 border-bottom: none;
}
#mini-menu a {
 color: #333333;
 display: block;
 font-size: 16px;
 font-weight: bold;
 height: auto;
 padding: 8px 5px;
 text-align: center;
}
#mini-menu a:hover {
 background-color:#DDDDDD;
}
#mini-menu li:last-child a:hover {
 border-radius: 0 0 5px 5px;
}
#mini-menu ul li:last-child a:hover {
 border-radius: 0;
}
/********front page ***********/
.latest_project ul li:first-child {
 margin: 0;
 padding: 0;
}
.latest_project_box {
 margin: 0;
 padding: 0;
}
.home .feature_image {
 border: 1px solid #CCCCCC;
 box-shadow: 0 5px 5px -3px #222222;
 float: none;
 margin: 0 auto;
 width: 219px;
}
.latest_project_box .title {
 margin-bottom: 10px;
 margin-top: 12px;
 padding: 0 2px;
 text-align: center;
 width: 100%;
}
/*******post*************/
.post {
 text-align: center;
}
/***********about**************/
.about_feature_image {
 border: 1px solid #CCCCCC;
 float: left;
 margin: 0 0 10px 88px;
 width: 273px;
}
ul.hover_block li {
 margin:0 12px 18px 0;
}
/*********services***********/
.services_box {
 padding: 0;
}
/*************** comment ***************/
#commentform #comment {
 width: 255px;
}
.commentlist {
 width: 100%;
}
.children #respond #comment {
 width: 255px;
}
#commentform .field {
 float: none;
}
#comment-body-top {
 background: url("images/comment-body-400.png") no-repeat scroll left top transparent;
 float: left;
 height: 34px;
 width: 400px;
}
.comments-template {
 float: none;
 margin: 5px 0 15px;
 padding: 0;
}
.comment-body {
 background: url("images/inner-comment-body400.png") repeat-y scroll left top transparent;
 float: left;
 position: relative;
 width: 400px;
}
.reply {
 background: url("images/comment-reply400.png") no-repeat scroll left center transparent;
 bottom: -34px;
 height: 34px;
 position: absolute;
 width: 400px;
 z-index: 999;
}
.commentlist .children #comment-body-top {
 background: url("images/comment-body-2nd400.png") no-repeat scroll right top transparent;
 float: right;
 height: 40px;
 width: 400px;
}
.commentlist .avatar {
 border: 2px solid #EDEDED;
 height: 71px;
 left: 7px;
 position: relative;
 top: -5px;
 width: 71px;
}
.comment-author cite {
 color: #000000;
 font-style: normal;
 font-weight: bold;
 left: 73px;
 position: absolute;
 text-transform: capitalize;
 top: -29px;
}
.commentlist .children .avatar {
 left: -11px;
 position: relative;
 top: -8px;
}
.children .comment-author cite {
 left: auto;
 right:84px;
 text-align: right;
 top: -34px;
}
.commentlist .children .comment-body {
 background: url("images/child-inner-comment-body400.png") repeat-y scroll right top transparent;
 float: right;
 width: 400px;
}
.children #commentform, .children #cancel-comment-reply, .children h3 {
 clear: both;
 float: none;
 margin: 0 0 0 0px !important;
}
.children .reply {
 background: url("images/child-comment-reply400.png") no-repeat scroll right center transparent;
}
.reply a {
 color: #FFFFFF;
 float: left;
 font-size: 15px;
 padding: 11px 0 0 13px;
}
.comment-author {
 float: left;
 height: 76px;
 width: 75px;
 z-index: 9999;
}
.commentmetadata {
 float: right;
 margin: 0;
 right:0;
 position: relative;
 top: -30px;
}
.children .commentmetadata {
 left:0;
}
.commentlist .children {
 float: left;
 list-style: none outside none;
 margin: 25px 0 0 5px;
 width: 90%;
}
.comment_txt {
 left: 30px;
 position: relative;
 top: 8px;
 width: 92%;
}
.children .comment_txt {
 left: 18px;
 top: -9px;
}
.children .reply a {
 float: right;
 padding: 10px 16px 0 0;
}
/***********blog**************/
.home_featured_img img {
 width: 99%;
}
.post-date {
 width: 14%;
}
.post_data .blog-entry-title {
 width: 80%;
}
#content tr td {
    padding: 6px 17px;
}
/***********sidebar****************/
#primary, #secondary {
 float: none;
 margin: 0 auto;
 overflow: hidden;
 padding: 0 15px 0 0;
 width: 260px;
}
#left-sidebar #sider-bar #primary, #left-sidebar #sider-bar #secondary {
 float: none;
}
/************contact*****************/
.contact-container:first-child {
 margin: 0 0 0 55px;
}
.contact-container {
 margin: 0 0 0 55px;
 width: 155px;
}
#contact-form input[type="text"], textarea {
 padding: 2px 6px 0;
 width: 130px;
}
/*************registration*************/
#login-wrapper {
 background: url("images/login-box-bg1.png") no-repeat scroll 0 0 transparent;
 height: 274px;
 margin: 0 auto 30px;
 position: relative;
 width: 425px;
}
#login-wrapper input[type="text"], #login-wrapper input[type="password"] {
 width: 83%;
}
#login-wrapper .login_title {
 padding: 10px 0;
 top: -38px;
}
/*********sitemap************/
#site_map .sitemap-rows .sitemap-box {
 float: left;
 width: 50%;
}
.widget-title-active {padding: 3px 0 6px;}
.widget-title{padding:2px 0 0;}
}
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 480px) {
/*******header*************/
.wrapper {
 padding:0px;
}
#top-head .left-section {
 float: none;
 padding: 0;
}
.logo {
 margin-top: 30px;
 width: 100%;
}
#top-head .right-section {
 float: none;
 padding: 0;
 text-align: right;
}
.social_media {
 float: none;
 height: 29px;
 margin: 0 auto;
 padding: 10px 0;
 width: 170px;
}
#skenav {
 float: none;
}
/********front page ***********/
.project_head {
 padding-left:6px;
}
.latest_project ul li:first-child {
 margin: 0;
 padding: 0;
}
.latest_project_box {
 margin: 0;
 padding: 0;
}
.feature_image {
 border: 1px solid #CCCCCC;
 box-shadow: 0 5px 5px -3px #222222;
 float: none;
 margin: 0 auto;
 width: 220px;
}
.latest_project_box .title {
 margin-bottom: 10px;
 margin-top: 12px;
 padding: 0 2px;
 text-align: center;
 width: 100%;
}
.post {
 float: left;
 padding: 0 10px;
 text-align: center;
}
#commentform #comment {
 width: 248px;
}
.camera_wrap .camera_pag .camera_pag_ul {
 list-style: none outside none;
 margin: 0;
 padding: 0 0 0 110px !important;
 text-align: center;
}
/************Team member*************/
#member_single_content .feature_image {
 border: 1px solid #CCCCCC;
 box-shadow: 0 5px 5px -3px #222222;
 display: block;
 float: none;
 height: 132px;
 margin: 0 auto;
 padding: 5px;
 width: 181px;
}
ul.hover_block {
 padding: 0 0 0 25px;
}
/***********about**************/
.about_feature_image {
 border: 1px solid #CCCCCC;
 float: left;
 margin: 0 25px 0 0;
}
.about_feature_image img {
 border: 1px solid #CCCCCC;
 padding: 5px;
 width: 200px;
}
/**************gallery******/
.attachment-gallery-wrap {
 float: left;
 margin-left: 42px;
}
/*********services***********/
.services_box {
 padding: 0;
}
.services_wrap ul {
 float: left;
 padding: 0;
 margin: 0 8px;
}
.services_box {
 padding: 0 1px;
}
.page-template-template-services-page-php .post {
 float: left;
 padding: 0;
 text-align: center;
}
/************blog****************/
.page-title {
 margin: 0 8px;
 padding: 0;
}
.home_featured_img {
 width:265px;
}
.home_featured_img img {
 width: 258px;
}
.post {
 padding: 0 9px;
}
.post-date {
 width: 15%;
}
.post_data .blog-entry-title {
 width: 70%;
}
#page-comment-temp {
 float: left;
 padding: 0 8px;
}
#content tr td {
    padding: 6px 8px;
}
/***********sidebar****************/
#primary, #secondary {
 float: none;
 margin: 0 auto;
 overflow: hidden;
 padding: 0 15px 0 0;
 width: 260px;
}
#left-sidebar #primary, #secondary {
 margin: 0 14px;
}
/**********contact************/
.contact_content {
 margin: 4px 0;
}
.contact-container:first-child {
 margin: 0 0 0 55px;
}
#contact-form input[type="text"] {
 margin-right: 2px;
 padding: 0;
 width: 87px;
}
#contact-form textarea {
 width: 92%;
}
/**********leftsidebar*************/
#left-sidebar #content .post {
 padding: 0;
}
/***********no-sidebar************/
#no-sidebar #content .post {
padding: 0 4px 0px;
}
/*************archives**************/
.archives-title {
 padding: 0 0px;
}
/*********registration***********/
#login-wrapper form {
 height: 100%;
 margin: auto;
 position: relative;
 width: 290px;
}
#login-wrapper .login_form {
 background: url("images/login-box-bg2.png") no-repeat scroll 0 0 transparent;
 width: 285px;
}
#login-wrapper .reglogin_form {
background: url("images/reg-box-bg300.png") no-repeat scroll 0 0 transparent;
 width: 300px;
 margin-top: 20px;
}
#login-wrapper input[type="text"], #login-wrapper input[type="password"] {
 width: 80%;
}
#login-wrapper .login-username, #login-wrapper .login-password, #login-wrapper .login-submit {
 height: 31px;
 margin: 0;
 position: absolute;
 width: 80%;
}
#login-wrapper .login-username {
 left: 19px;
 top: 70px;
}
#login-wrapper .login-password {
 bottom: 72px;
 left: 22px;
}
#login-wrapper .login-submit {
 bottom: -5px;
 left: 28px;
 text-align: center;
}
#login-wrapper .login_title {
 margin: 4px 0 0;
 padding: 4px 0;
 top: -56px;
}
#login-wrapper .login_form {
 margin-top: 22px;
}
/***********comment*************/
.comments-template {
 float: none;
 margin: 5px 0 15px;
 padding: 0;
}
#commentform #comment {
 width:255px;
}
.children #respond #comment {
 width: 255px;
}
.children #commentform, .children #cancel-comment-reply, .children h3 {
 clear: both;
 float: left;
 margin: 0 0 0 0px !important;
}
.children .comment-awaiting-moderation {
 left: 0px;
}
#comment-body-top {
 background: url("images/comment-body-260.png") no-repeat scroll left top transparent;
 float: left;
 height: 34px;
 width: 260px;
}
.comment-body {
 background: url("images/inner-comment-body260.png") repeat-y scroll left top transparent;
 float: left;
 position: relative;
 width: 260px;
}
.reply {
 background: url("images/comment-reply260.png") no-repeat scroll left center transparent;
 bottom: -34px;
 height: 34px;
 position: absolute;
 width: 260px;
 z-index: 999;
}
.commentlist {
 margin: 0;
 width:280px;
}
.commentlist li.comment {
 width: 98%;
}
.commentlist .avatar {
 border: 2px solid #EDEDED;
 height: 71px;
 left: -8px;
 position: relative;
 top: -2px;
 width: 71px;
}
.commentlist .children {
 float: left;
 list-style: none outside none;
 margin: 25px 0 0 1px;
 width: 90%;
}
.commentlist .children #comment-body-top {
 background: url("images/comment-body-2nd260.png") no-repeat scroll right top transparent;
 float: left;
 height: 40px;
 width: 260px;
}
.commentlist .children .comment-body {
 background: url("images/child-inner-comment-body260.png") repeat-y scroll right top transparent;
 float: left;
 width: 260px;
}
.children p {
 float: left;
 left: 15px;
 width: 40%;
}
.children .reply {
 background: url("images/child-comment-reply260.png") no-repeat scroll right center transparent;
}
.comment-author {
 float: left;
 height: 76px;
 left: 15px;
 position: relative;
 top: 0;
 width: 75px;
 z-index: 9999;
}
.comment-author cite {
 color: #000000;
 font-style: normal;
 font-weight: bold;
 left: 42px;
 position: absolute;
 text-transform: capitalize;
 top: -39px;
}
.commentmetadata {
 float: none;
 margin: 0;
 position: relative;
 right: 25px;
 top: -27px;
}
.comment-author cite {
 min-width: 100%;
}
.comment_txt {
 left: 23px;
 position: relative;
 top: 5px;
 width: 88%;
}
.reply a {
 color: #FFFFFF;
 float: left;
 font-size: 12px;
 padding: 11px 0 0 5px;
}
.children .comment-author {
 float: right;
 left: auto;
 right: 15px;
 top: 4px;
}
.children .comment-author cite {
 left: auto;
 right: 100px;
 text-align: right;
 top: -47px;
}
.children .commentmetadata {
 float: none;
 left: 10px;
 right: auto;
 top: -32px;
}
.children .avatar {
 position: relative;
 top: -7px;
}
.children .comment_txt {
 left: 48px;
 top: -7px;
}
.children .reply a {
 float: right;
 padding: 10px 7px 0 0;
}
/**********sitemap*************/
#site_map .sitemap-rows .sitemap-box {
 float: left;
 width: 100%;
}
/*= Mobile Navigation Menu
-------------------------------------------*/
#nav {
 background: url("images/mobilemenubg.png") repeat-x scroll 0 0 transparent;
 border: 1px solid #BBBBBB;
 border-radius: 5px 5px 0 0;
 float: none;
 height: 31px;
 margin: 0 auto;
 width: 271px;
}
#skenav {
 display: none;
}
#mini-menu {
 background-color: #CCCCCC;
 display: none;
 position: absolute;
 width: 257px;
}
 #menu-icon {
 background-position: 425px 0;
 background-repeat: no-repeat;
 display: block;
 padding: 7px 10px;
 cursor: pointer;
 position: relative;
 text-align: center;
 font-size: 16px;
 color: #333333;
 margin-left: 8px;
 width: 234px;
}
#menu-icon.close {
 background: url("images/menu_close.png") no-repeat scroll 234px center transparent;
}
#menu-icon.open {
 background: url("images/menu_open.png") no-repeat scroll 234px center transparent;
}
ul#mini-menu {
 background: url("images/navibottomimg.png") no-repeat scroll center bottom #E2E2E2;
 border-radius: 0 0 5px 5px;
 display: none;
 left: -9px;
 list-style-type: none;
 margin: 0;
 padding-bottom: 19px;
 position: absolute;
 top: 31px;
 width: 273px;
}
#mini-menu ul {
 list-style:none;
 margin: 0;
}
ul#mini-menu li {
 border-bottom: 1px solid #F3F3F3;
 border-top: 1px solid #7D7D7D;
 list-style-type: none;
 margin-left: 0;
 text-align: center;
}
ul#mini-menu li ul li {
 border:none;
}
#mini-menu li:first-child {
 border-top: none;
}
#mini-menu li:last-child {
 border-bottom: none;
}
#mini-menu a {
 color: #333333;
 display: block;
 font-size: 16px;
 font-weight: bold;
 height: auto;
 padding: 8px 5px;
 text-align: center;
}
#mini-menu a:hover {
 background-color:#DDDDDD;
}
#mini-menu li:last-child a:hover {
 border-radius: 0 0 5px 5px;
}
#mini-menu ul li:last-child a:hover {
 border-radius: 0;
}
/************footer****************/
#site-info {
 float: none;
 text-align: center;
 width: 100%;
}
#foot-nav {
 float: none;
 width: 100%;
}
#foot-nav ul {
 float: none;
 margin: 0;
}
#foot-nav ul li {
 float: left;
 margin: 0 0 0 12px;
}
.widget-title-active {padding: 3px 0 6px;}
.widget-title{padding:2px 0 0;}
}
